<!DOCTYPE html>
<html>

<head>
    <title>Search Recipe</title>
    <meta charset="utf-8" />
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center; margin-top: 100px;}
    </style>
</head>


<body >
<div>
    <img src="/images/food.jpg" style = "width:800px;height:300px;" />
 <form action="/search/recipe" method="GET">
    <label> Search Recipe:
        <input type = "text" name = "query" />
    </label>
    <button type = "submit">Search</button> 
 </form>
 <a href="/history/results"> View history </a>
</div>

</body>

</html>